
@font-face {
    font-family: 'Oswald-Medium';
    src: url('resources//Oswald-Medium.ttf');
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  
}

body {
    background-image: url("img/bg.jpg"); /* Image credit: https://pixabay.com/photos/stars-sky-night-starry-sky-1845140/ */
    background-attachment: fixed;
    overflow-x: hidden;
    
}






  
/* Skills section*/  

.container-skillstext {
  text-decoration: none;
  color:#ffffff;
  font-family: Oswald-Medium;
  padding: 50px 50px;
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    justify-content: center;
    max-width: 100%;
    margin:  0rem 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    height: auto;
  border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
}

.container-abouttext {
  text-decoration: none;
  color:#ffffff;
  font-family: Oswald-Medium;
  padding: 50px 50px;
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    max-width: 100%;
    margin:  2rem 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  justify-content: center;
}

.skillstext {
  font-size: 25px;
  text-align: center;
}
.abouttext {
  font-size: 25px;
  text-align: center;
  margin-bottom: 5rem;
}
.container-skillicons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.skill {
  transition: transform 0.5s ease-in;
  
}

.skill:hover{  
      transform: rotate(360deg);
  
}

.skill{
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}

.react{
  height: 100px;
  width: 100px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-right: 1rem;
}





/* Skillpage-ends */  

/*Footer*/
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    width: 100%;
    color: #fff;
}

.fa {
  padding: 20px;
  text-decoration: none;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
   
}

.socials a i{
    font-size: 2.0rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(84, 0, 210);
}

.footer-bottom{
    background: rgba(0, 0, 0, 0.1);
    width: 100vw;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-left: 2rem;
    margin-bottom: 1rem;
 }
 .footer-bottom p a{
   color:#ffffff;
   font-size: 15px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }

 .skillfooter {
   position: relative;
 }

 @media only screen and (max-width: 900px) {
    .aboutfoot{
      position: absolute;
      margin-bottom: 0;

    }

    footer{
       background: rgb(0, 0, 0);
    }
 }
/* Footer End*/

/* Nav */

header {
    font-family: Oswald-Medium;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.688);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    font-style: normal;
    text-decoration: none;
    font-size: 28px;
    color: white;
    margin-left: 1rem;
    transition: transform 0.5s ease-in;
}

.logo:hover {
  color: rgb(84, 0, 210) ;
  transform: rotate(360deg);
} 

.logoimg{
  width: 2.5rem;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
}

.nav-bar ul li a {
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 5px;
    text-decoration: none;
    
}

.sprog{
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 25px;
}

.intro-text{
  padding-left: 5rem;
  padding-right: 5rem;
}
.abouttext{
  padding-left: 6.0rem;
  padding-right: 8rem;
}

.nav-bar ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(84, 0, 210);
    
}

.nav-bar ul li a.active {
  border:2px solid rgb(251, 249, 255) ;

}

@media only screen and (max-width: 1320px) {
    header{
        padding: 0 0px;
        z-index: 1;
    }
}

@media only screen and (max-width: 1100px) {
    header{
        padding: 0 0px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 3rem;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgba(0, 0, 0, 0.777);
        transition: 0.5s;
        overflow: hidden;
        z-index: 1;
    }
    .nav-bar.active {
        height: 520px;
        width: 100%;
        z-index: 1;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.1s;
        opacity: 0;
        z-index: 1;
    }
    .nav-bar.active ul {
        opacity: 1;
        z-index: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
        color: rgb(255, 255, 255);
    }
    header {
        background: rgba(0, 0, 0, 0.834);
        z-index: 1;
    }
}
/* Navbar-ends */

/* Intro-card */
.index-container{
    display: flex; 
    flex-wrap: nowrap;
    
    padding: 50px 50px;
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    justify-content: center;
    max-width: 100%;
    margin:  2rem 2rem;
    margin-bottom: 0.5rem;
    margin-top: 5rem;
    height: auto;
}

@media only screen and (max-width: 900px) {
  .index-container{
    flex-wrap: wrap;
    margin: 0, 0;
    margin-top: 3rem;
    padding: 0, 0;
  }


}

.text{
  text-align: center;
  
}

.introheading {
    font-family: Oswald-Medium;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    text-align: center;
}

.aboutheading {
  font-family: Oswald-Medium;
  font-size: 4vw;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 5rem;
}

.skillheading {
  font-family: Oswald-Medium;
  font-size: 4vw;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 5rem;
}

.introheading2 {
  font-family: Oswald-Medium;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1rem;
}

.introtext {
    color: #ddd;
}

.textoid {
  background-color: inherit;
  font-family: Oswald-Medium;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: justify;
  padding: 2rem 2rem;
  margin-top: 3.0rem;
}

@media only screen and (max-width: 900px) {

  div.index-container{
    margin-top: 5rem;
  }

  div.btnbox{
    margin-top: 1rem;
    flex-wrap: nowrap;
  }

  a.btn{
    padding: 0.1rem;
    font-size: 14px;
    margin: 0.3rem;
  }

  p{
     font-size: 1rem;

  }
  .textoid{
    margin-top: 0;
    padding: 0;
  }

  .aboutheading{
    margin-bottom: 0rem;
  }



  div.container-skillstext{
    margin-bottom: 0.5rem;
    padding: 5.0rem 2rem;
    margin-top: 1rem;

  }
  p.skillstext{
    font-size: 0.8rem;
  }
  h1.skillheading{
    margin-bottom: 0.5rem;
    font-size: 2rem;

  }

  .skill{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0rem;
  }



}

.btnbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.2rem 0.2rem;
  margin-top: 3rem;
  text-align: center;
  
}

.btn {
  font-family: Oswald-Medium;
  border:2px solid rgb(251, 249, 255) ;
  border-radius: 6rem;
  color: white;
  padding: 0.1rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  transition: 0.5s;
}

.btn:hover {
  background-color: rgb(84, 0, 210);
}


.img-container {
  background-color: none;
}
.me{
    max-width: 100%;
  }


  .aboutme{
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
    border-radius: 50cm;
    height: auto;
    width: 100%;
    border:2px solid rgb(251, 249, 255) ;
  }

  .btnbox2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.2rem 0.2rem;
    text-align: center;
    
  }
  
  .btn2 {
    font-family: Oswald-Medium;
   
    border-radius: 6rem;
    color: white;
    padding: 0.1rem 0rem;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .btn2:hover {
    transition: 0.7s;
    background-color: rgb(84, 0, 210);
  }
    
  /* Intro-card-ends */

  /* Projects-list */


  .project-heading{
    color: #ffffff;
    font-family: Oswald-Medium;
    text-align: center;
    font-size: 4vw;
    margin-top: 5rem;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;

    
  }

  .contact-container {
    
    justify-content: center;
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    background-color: #0000006f;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    justify-content: center;
    max-width: 100%;
    margin:  2rem 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 1rem 1rem;
    text-align: center;
    color: #ffffff;
    background-color: #0000006f;
    transition: transform .5s; 
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    padding: 1rem 1rem;
  }

  .cardcont {
    max-width: 100%;
    margin: 1rem 1rem;
    text-align: center;
    color: #ffffff;
    transition: transform .5s; 
    padding: 2rem 2rem;
    padding-top: 0.5rem;
  }

  .cardcont h1{
    margin-bottom: 2.5rem;
  }

  .card p {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
  }

  .cardcont p {
    margin-top: 0.2rem;
    margin-bottom: 1.8rem;
  }

  .card:hover {
    transform: scale(1.1);
  }

  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .cardcont button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 5rem;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .cardcont button:hover {
    opacity: 0.7;
  }
  .vizitines{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btnproj {
    font-family: Oswald-Medium;
  background-color: inherit; /* Green */
  border:2px solid rgb(251, 249, 255) ;
  border-radius: 6rem;
  color: white;
  padding: 0.1rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s;
  }

  .btncont {
    font-family: Oswald-Medium;
    background-color: inherit; /* Green */
    border-radius: 6rem;
    color: white;
    padding: 0.1rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
  }

  .btncont:hover {
    background-color: rgb(84, 0, 210);
  }

  .btnproj:hover {
    background-color: rgb(84, 0, 210);
  }

  .refbuttons{
    display: flex;
    justify-content: space-around;
    margin: 0rem 2rem;
  }
  .contact-heading{
    font-family: Oswald-Medium;
      font-size: 3vw;
      color: rgb(255, 255, 255);
      text-align: center;
  }
  
/* Miscelaneous */
  .arrow{
    height: auto;
    width: 5rem;
    margin-left: 50%;
    margin-right: 50%;
  }

  .hiding1{
    -webkit-transition-delay: 5s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
    -webkit-transition: 5s;
    -o-transition: .8s;
    transition: 1.5s;
    opacity: 0;
  }

  .hiding1.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}

.trick{
  opacity: 0;
}
.trick2{
  opacity: 0;
}
.trick3{
  opacity: 0;
}

/* Miscelaneous ends*/

/* Smaller viewports */
@media only screen and (max-width: 900px) {
  .btn2{
    font-size: 1rem;
    padding: 0.1rem;
    margin: 0;
  }

  .btnbox2{
    justify-content:space-evenly;
    display: block;
    margin-top: 1rem;
  }
  .me{
    width: 11rem;
  }
  .introheading{
    font-size: 2rem;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }
  .introheading2{
    margin-top: 0;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
  .introtext{
    font-size: 1.1rem;
  }
  p.abouttext{
    font-size: 0.5rem;
    margin-bottom: 0;

 }
 .container-abouttext{
  margin-top: 1.5rem;
 }
 .arrow{
  width: 2.5rem;
  margin-right: 45%;
  margin-left: 45%;
 }
 .aboutheading{
  font-size: 2rem;
 }
 .project-heading{
  font-size: 2rem;
  margin-bottom: 0.5rem;
 }
 .project-container{
  margin-top: 0;
 }
 .contact-container{
  flex-wrap: nowrap;
  margin-top: 0%;
  margin-bottom: 1rem;
 }

 .btncont{
  font-size: 1rem;
 }
 h1{
  font-size: 1.2rem;
 }
 .contact-heading{
  font-size: 2rem;
  color: #ffffff;
  margin-top: 0.5rem;
 }
 .cardcont{
  padding: 0.5rem;
 }
}

/* Smaller viewports ends*/